[DEFAULT]
undercloud_hostname = {{ inventory_hostname | lower }}.{{ dnsdomain }}
overcloud_dnsdomain_name = {{ dnsdomain }}
image_path = /home/stack/images
local_ip = 10.0.0.10/24
undercloud_public_host = 10.0.0.11
undercloud_admin_host = 10.0.0.12
undercloud_nameservers = {{ [dns1,dns2] | list | join (',') }}
undercloud_ntp_servers = 0.rhel.pool.ntp.org,1.rhel.pool.ntp.org
generate_service_certificate = true
local_interface = eth0
#local_mtu = 1500
masquerade_network = 10.0.0.0/24
dhcp_start = 10.0.0.50
dhcp_end = 10.0.0.99
network_cidr = 10.0.0.0/24
network_gateway = 10.0.0.10
inspection_iprange = 10.0.0.100,10.0.0.120
undercloud_debug = true
enable_telemetry = true
enable_tempest = true
enable_mistral = true
enable_zaqar = true
enable_ui = true
enable_validations = true
ipxe_enabled = true
store_events = true
#scheduler_max_attempts = true
#hieradata_overwrite = 
#net_config_override = /usr/share/instack-undercloud/templates/net-config.json.template
#clean_nodes = false
#inspection_enable_uefi = true
[auth]
